@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');


html, body {
  margin: 0;
  font-family: 'Oswald', serif;
  color: #171929;
  background: #fff;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  text-align: center;
}

header, main, footer {
  z-index: 2;
  display: block;
  position: relative;
}

a {
  color: inherit;
}
a.icon {
  text-decoration: none;
}


header {
      color: #fff;
      background: #171929;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      text-transform: uppercase;
}
header h1 {
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: .5rem;
}
header p {
  font-size: 1.8rem;
  letter-spacing: .8rem;
}
@media only screen and (min-width: 700px) {
header h1 {
  font-size: 4rem;
}
}


main {
    font-size: 1.2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}
main a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  font-size: 1.8rem;
  padding: 1rem 1rem 2rem;
  flex: 1 1 0;
}
main a i {
  font-size: 5rem;
  padding-bottom: 1rem;
}
@media only screen and (min-width: 918px) {
  main a {
    padding: 1rem;
  }
  main a i {
    padding-bottom: 2rem;
  }
}


.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}


footer {
  text-align: center;
  padding: .25rem 0 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: .7rem;
  color: #aaa;
  height: 1rem;
  font-family: 'Arial', sans-serif;
}
