body {
	padding: 1rem;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 1rem;
}

header {
	text-align: center;
}

section {
	margin-bottom: 3rem;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	margin-bottom: .5rem;
}

.table {
	display: table;
}
.table > * {
	display: table-row;
}
.table > * > * {
	display: table-cell;
	padding: .25rem 1.75rem .25rem 0;
}
.table > * > *:first-of-type {
	width: 5.5rem;
}

.hanging p {
	text-indent: -4rem;
	margin-left: 4rem;
}